# Node Env for production or development
NODE_ENV = 
# User Port for the node server
PORT = 
# User Name for the database
USER = 
# Password for the database
PASSWORD = 
# Local MongoDB database connection String
DATABASE_Local = 
# JWT Secret for the token
JWT_SECRET = 
# JWT Expiry time for the token
JWT_EXPIRES_IN = 
# Nodemail email host for sending email
EMAIL_HOST =
# Nodemail email port for sending email
EMAIL_PORT =
# Nodemail email username for sending email
EMAIL_USERNAME =
# Nodemail email password for sending email
EMAIL_PASSWORD =