extends base

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet')
    script(src="https://js.stripe.com/v3/")

block content
    include _tour